#!/bin/bash

## copy to `env.vars`

export AWS_ACCESS_KEY_ID='xxx'
export AWS_SECRET_ACCESS_KEY='xxx'
export PULUMI_ACCESS_TOKEN='pul-xxx'
export GOOGLE_PROJECT='xxx'
export GOOGLE_CREDENTIALS=$(cat credentials.json)